* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    font-size: 20px;
    background-color: #4f81bd;
    padding: 128px;

}


.main .wrapper {
    background-color: #fff;
    padding-top: 48px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.wrapper .heading {
    text-align: center;
    margin-top: 32px;
}


.wrapper .question-wrapper {
    padding: 32px 64px;
    width: 100%;
}

.wrapper #result {
    padding-bottom: 72px;
    /* min-height: 60vh; */
    font-size: 32px;
    text-align: center;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#result .btn-retry {
    padding: 12px;
    background-color: #4f81bd;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 24px;
}

.question-wrapper .page-1,
.question-wrapper .page-2 {
    margin-top: 32px;
    transition: all 1s ease-in;
}


.page-1 .next {
    display: flex;
    align-items: center;
    justify-content: end;
    /* width: 90px; */
    cursor: pointer;
    margin-top: 32px;

}

.page-1 .next:hover span {
    opacity: 0.9;
}

.next span {
    background-color: #4f81bd;
    color: #fff;
    font-size: 20px;
    padding: 12px;
    border-radius: 6px;
}

.page .question {
    margin: 24px 0;
}

.question .ask {
    font-weight: 600;
}

.ask .ask-text {
    font-weight: 600;

}

.question .answer {
    margin-top: 16px;
}

.answer .input-group {
    margin-top: 8px;
}

.page .page-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.page-btn>div {
    padding: 12px;
    font-size: 20px;
    text-align: center;
    max-width: 200px;
    border-radius: 6px;
    margin-top: 32px;
    /* margin: 0 128px; */
}

.page-btn>div:hover {
    cursor: pointer;
    opacity: 0.9;
}

.page-btn .submit-btn {
    background-color: #4f81bd;
    color: #fff;
}

.page-btn .back {
    background-color: rgb(249, 51, 51);
    color: #fff;
}